version: 2.1
orbs:
  node: circleci/node@4.0.0
workflows:
  node-tests:
    jobs:
      - node/test:
          app-dir: ./app
  django-tests:
    jobs:
      - build:
          working_directory: ~/barsandgrills
          docker: circleci/python3.8.4
    steps:
      - checkout
      - run: cd backend
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
        name: Running tests
        command: |
          . venv/bin/activate
          python3 manage.py test --settings=api.tests.settings
